{% extends "base.html" %}

{% block title %}{{author.username}}{% endblock %}

{% block content %}
<div class="center pulldown">

{% if messages %}
<table class="table">
    {% for message in messages %}
    <tr class="success">
      <td>{{ message }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
  <table class="table">
    <tr>
      <th>Username: </th>
      <td>
	<div class="big_avatar center">
	  <div>
	    <img class="img-circle" src="{{STATIC_URL}}blog/img/no_image.jpg" alt="{{author.get_full_name}}" />
	  </div>
	  <div class="center">{{author.username}}
	  </div>
	</div>
      </td>
    </tr>
    <tr>
      <th>First name: </th>
      <td>{{author.first_name}}</td>
    </tr>
    <tr>
      <th>Last name: </th>
      <td>{{author.last_name}}</td>
    </tr>
    <tr>
      <th>Date joined: </th>
      <td>{{author.get_profile.date_joined}}</td>
    </tr>
  </table>
</div>
{% endblock %}
