{% extends "base.html" %}

{% block title %}Edit profile{% endblock %}

{% block content %}
<div class="center pulldown">
  <form method="post" action="">{% csrf_token %}
    <table class="table table-hover">
      {{form.as_table}}
      <tr>
	<th></th>
	<td><button class="btn btn-primary" type="submit">Update</button></td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
