{% extends "base.html" %}
{% load endless %}

{% block title %}Entries{% endblock %}

{% block content %}
<div class="center pulldown">
  {% paginate entries %}
  <table class="table table-hover">
    <thead>
      <tr>
	<th colspan=3>{% show_pages %}</th>
      </tr>
      <tr>
	<th><div class="big_avatar center">Author</div></th>
	<th><div class="span4">Title</div></th>
	<th><div class="span6">Excerpt</div></th>
      </tr>
    </thead>    
    {% for entry in entries %}
    <tr>
      <th>
	<a href="{{entry.get_absolute_url}}">
	<div class="entry_row">
	  <div class="big_avatar center">
	    <div>
	      <img class="img-circle" width="70px" src="{{STATIC_URL}}blog/img/no_image.jpg" alt="{{author.get_full_name}}" />
	    </div>
	    <div class="center">{{entry.author.user}}
	    </div>
	  </div>
	</div>
	</a>
      </th>
      <td>
	<a href="{{entry.get_absolute_url}}">
	<div class="entry_row span4">
	    {{entry}}
	</div>
	</a>
      </td>
      <td>
	<a href="{{entry.get_absolute_url}}">
	<div class="entry_row span6">
	    <p>{{entry.excerpt}}</p>
	</div>
	</a>
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan=3>
	{% show_pages %}
      </th>
    </tr>
  </table>
</div>
{% endblock %}
