{% extends "base.html" %}

{% load comments %}

{% block title %}{{entry}}{% endblock %}

{% block content %}
<div class="pulldown">

{% if messages %}
<table class="table">
    {% for message in messages %}
    <tr class="info">
      <td >{{ message }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

  <div class="center"><h1>{{entry}}</h1>
    <small>
      <p>Author: <a href="{{entry.author.get_absolute_url}}">{{entry.author.user.username}}</a></p>
      <p>Created on {{entry.creation_date}} | Last Modification {{entry.last_update}}</p>
      <p>Category: {{entry.category}}</p>
    </small>
  </div>
  <div class="entry_text">
  {{entry.text|safe}}
  </div>

  {% if entry.allow_comments %}
    {% render_comment_form for entry %}
    {% render_comment_list for entry %}
  {% endif %}

</div>
{% endblock %}
