{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra_js %}
<script src="{{STATIC_URL}}blog/js/bootstrap-carousel.js"></script>
<script>
  !function ($) {
    $(function(){
      // carousel
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>

{% endblock %}

{% block carousel %}
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">

	{% for entry in most_updated_entries %}
        <div class="item{% if forloop.counter == 1 %} active{% endif %}">
          <img src="{{STATIC_URL}}blog/img/slide-0{{forloop.counter}}.jpg" alt="{{entry}}">
          <div class="container">
            <div class="carousel-caption">
              <h1>{{entry}}</h1>
              <p class="lead">{{entry.excerpt|truncatewords:20}}.</p>
	      {% if user.is_authenticated %}
                <a class="btn btn-large btn-primary" href="{{entry.get_absolute_url}}">Read now</a>
	      {% else %}
                <a class="btn btn-large btn-primary" href="{% url registration_register %}">Sign up today</a>
	      {% endif %}
            </div>
          </div>
        </div>
	{% empty %}
        <div class="item">
          <img src="{{STATIC_URL}}blog/img/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Don't be shy, post something!</h1>
              <p class="lead">The three newest entries will be shown in this slider.</p>
	      {% if user.is_authenticated %}
                <a class="btn btn-large btn-primary" href="{% url blog_add_new_entry %}">Post an entry</a>
	      {% else %}
                <a class="btn btn-large btn-primary" href="{% url registration_register %}">Sign up today</a>
	      {% endif %}
            </div>
          </div>
        </div>
        <div class="item active">
          <img src="{{STATIC_URL}}blog/img/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Post and entry, be the first one</h1>
              <p class="lead">The three newest entries will be shown in this slider.</p>
	      {% if user.is_authenticated %}
                <a class="btn btn-large btn-primary" href="{% url blog_add_new_entry %}">Post an entry</a>
	      {% else %}
                <a class="btn btn-large btn-primary" href="{% url registration_register %}">Sign up today</a>
	      {% endif %}
            </div>
          </div>
        </div>
	{% endfor %}

<!--         <div class="item"> -->
<!--           <img src="{{STATIC_URL}}blog/img/slide-01.jpg" alt=""> -->
<!--           <div class="container"> -->
<!--             <div class="carousel-caption"> -->
<!--               <h1>Example headline.</h1> -->
<!--               <p class="lead">Cras justo odio, dapibus ac facilisis in,  -->
<!-- egestas eget quam. Donec id elit non mi porta gravida at eget metus.  -->
<!-- Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
<!-- 	      {% if user.is_authenticated %} -->
<!--                 <a class="btn btn-large btn-primary" href="{% url registration_register %}">Read now</a>	         -->
<!-- 	      {% else %} -->
<!--                 <a class="btn btn-large btn-primary" href="{% url registration_register %}">Sign up today</a> -->
<!-- 	      {% endif %} -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="item"> -->
<!--           <img src="{{STATIC_URL}}blog/img/slide-02.jpg" alt=""> -->
<!--           <div class="container"> -->
<!--             <div class="carousel-caption"> -->
<!--               <h1>Another example headline.</h1> -->
<!--               <p class="lead">Cras justo odio, dapibus ac facilisis in,  -->
<!-- egestas eget quam. Donec id elit non mi porta gravida at eget metus.  -->
<!-- Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
<!--               <a class="btn btn-large btn-primary" href="#">Learn more</a> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="item active"> -->
<!--           <img src="{{STATIC_URL}}blog/img/slide-03.jpg" alt=""> -->
<!--           <div class="container"> -->
<!--             <div class="carousel-caption"> -->
<!--               <h1>One more for good measure.</h1> -->
<!--               <p class="lead">Cras justo odio, dapibus ac facilisis in,  -->
<!-- egestas eget quam. Donec id elit non mi porta gravida at eget metus.  -->
<!-- Nullam id dolor id nibh ultricies vehicula ut id elit.</p> -->
<!--               <a class="btn btn-large btn-primary" href="#">Browse gallery</a> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div><!-- /.carousel -->
{% endblock %}

{% block content %}
    <h2>Latest Comments</h2>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for comment in latest_comments %}
      <div class="span4">
	<a href="{{comment.user.get_profile.get_absolute_url}}">
          <img class="img-circle" src="{{STATIC_URL}}blog/img/no_image.jpg">
	</a>
        <h4>
	  <a href="{{comment.user.get_profile.get_absolute_url}}">
	    {{comment.user.username}}
	  </a>
	</h4>
	About: <a href="{{comment.content_object.get_absolute_url}}">{{comment.content_object.title}}</a>
	<div class="home_comments">
          Said: "{{comment.comment|truncatewords:20}}"
	</div>
      </div><!-- /.span4 -->
      {% empty %}
      <div class="span7">
        There are no comments yet. Be the one and you'll see your comment in this home page.
      </div>
      {% endfor %}
    </div>
{% endblock %}
