{% extends "base.html" %}
{% load endless %}

{% block title %}My Entries{% endblock %}
{% block extra_js %}
  <script src="{{STATIC_URL}}blog/js/my_entries.js"></script>
{% endblock %}
{% block js %}
  edit_delete_actions('button.edit', '/entry_edit/0/', 'button.delete',
                      '{% url blog_ajax_entry_delete %}')
{% endblock %}

{% block content %}
<div class="center pulldown">
  {% paginate 10 entries %}
  <table class="table table-striped">
    <thead>
      <tr>
	<th colspan=4>{% show_pages %}</th>
      </tr>
      <tr>
	<th><div class="span3 center">Title</div></th>
	<th><div class="span2 center">Created on</div></th>
	<th><div class="span2 center">Last Modification</div></th>
	<th><div class="span3 center">Actions</div></th>
      </tr>
    </thead>    
    {% for entry in entries %}
    <tr id="{{entry.id}}">
      <td>
	<div class="span3 center">
	  <a href="{{entry.get_absolute_url}}">{{entry}}</a>
	</div>
      </td>
      <td>
	<div class="span2 center">
	  <p><a href="{{entry.get_absolute_url}}">{{entry.creation_date}}</a></p>
	</div>
      </td>
      <td>
	<div class=" span2 center">
	    <p><a href="{{entry.get_absolute_url}}">{{entry.last_update}}</a></p>
	</div>
      </td>
      <td>
	  <div class="span3 center">
	      <button name="{{entry.id}}" class="btn btn-inverse edit" type="submit">
		&nbsp;&nbsp;Edit&nbsp;&nbsp;</button>
	      <button name="{{entry.id}}" class="btn btn-danger delete" type="submit">Delete</button>
	  </div>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan=4>
	You have not saved any entry yet. Try to <a href="{% url blog_add_new_entry %}">add one</a>.
      </td>
    </tr>
    {% endfor %}
    <tr>
      <th colspan=4>
	{% show_pages %}
      </th>
    </tr>
  </table>
</div>
{% endblock %}
