{% load comments i18n %}
<h2>Leave a comment:</h2>
<div class="row">
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <div
        class="span4{% if field.errors %} error{% endif %}"
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </div>
    {% endif %}
  {% endfor %}
  <div class="span4 leave_comment_buttons">
    <p class="submit">
      <button name="post" class="btn btn-primary" type="submit">{% trans "Post" %}</button>
      <button name="preview" class="btn btn-info" type="submit">{% trans "Preview" %}</button>
    </p>
  </div>
</form>
</div>
