<h2>Comments</h2>
<div class="comments row">
  {% for comment in comment_list %}
  <div class="entry_row span6">
    <div class="big_avatar center">
      <div>
	<a href="{{comment.user.get_profile.get_absolute_url}}">
  	  <img class="img-circle" width="70px" src="{{STATIC_URL}}blog/img/no_image.jpg" alt="{{comment.name}}" />
	</a>
      </div>
      <div class="center">
	<a href="{{comment.user.get_profile.get_absolute_url}}">
	  {{comment.name}}
	</a>
      </div>
    </div>
    <div class="span3">
      <p>{{comment.comment}}</p>
      <small>{{comment.submit_date}}</small>
    </div>
  </div>
  {% endfor %}
</div>
