<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Potato blog | {% block title  %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{STATIC_URL}}blog/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}blog/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}blog/css/custom.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://twitter.github.com/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>



    <!-- NAVBAR
    ================================================== -->
    <!-- Wrap the .navbar in .container to center it on the page and provide easy way to target it with .navbar-wrapper. -->
    <div class="container navbar-wrapper">

      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url blog_home %}">Potato Blog</a>
          <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="{% url blog_home %}">Home</a></li>
	      {% if user.is_authenticated %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Profile <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url blog_author_edit_profile %}">Edit</a></li>
                  <li><a href="{% url blog_author_profile user.username %}">View public profile</a></li>
		</ul>
	      </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entries<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="{% url blog_entries %}">View all</a></li>
		  <li class="divider"></li>
		  <li class="nav-header">My entries<li>
                  <li><a href="{% url blog_add_new_entry %}">Add new</a></li>
                  <li><a href="{% url blog_my_entries %}">Edit</a></li>

		</ul>
	      </li>	      
	      {% endif %}
            </ul>
	    <ul class="nav pull-right">
	      {% if user.is_authenticated %}
	      <li>
	      	<p class="navbar-text">Logged in as <a href="{% url blog_author_profile user.username %}">{{user.username}}</a></p>
	      </li>
	      <li>
	      	<a href="{% url auth_logout %}">Logout</a>
	      </li>
	      {% else %}
	      <li>
		<a href="{% url auth_login %}">Log in</a>
	      <li>
	      {% endif %}
	    </ul>
          </div><!--/.nav-collapse -->
        </div><!-- /.navbar-inner -->
      </div><!-- /.navbar -->

    </div><!-- /.container -->


    <!-- Begin Carousel 
    ================================================== -->
    {% block carousel %}{% endblock %}
    <!-- End Carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      {% block content %}
      {% endblock %}
      
      <hr class="featurette-divider">

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2012 Giussepi L&oacute;pez</p>
      </footer>

    </div><!-- /.container -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}blog/js/jquery.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}blog/js/bootstrap-typeahead.js"></script>
    {% block extra_js %}{% endblock %}

    <script type="text/javascript">
      $(document).ready(function(){
        {% block js %}{% endblock %}
      });
    </script>

</body></html>
