{% extends "base.html" %}
{% load url from future %}

{% block title %}Activation failed{% endblock %}

{% block content %}
<div class="center pulldown">
  
  <p>The activation process failed using the activation key: {{activation_key}}.</p>
  <p>Try getting another <a href="{% url 'auth_password_reset' %}">activation key</a></p>
  
</div>
{% endblock %}
