{% extends "base.html" %}
{% load url from future %}

{% block title %}Activation Complete{% endblock %}

{% block content %}
<div class="center pulldown">

  <h2>Your account is active. Now you can start session.</h2>  
  
</div>
{% endblock %}
