{% extends "base.html" %}
{% load url from future %}

{% block title %}{{title}}{% endblock %}

{% block js %}
  //redirects to the home after 2 seconds
  window.setTimeout( function() { location='{% url "blog_home" %}' }, 2000);
{% endblock %}

{% block content %}


<div class="center pulldown">

<h2>{{title}}</h2>
</div>
{% endblock %}
