{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="center pulldown">

<p>We have sent you an email with a link to reset your password.  Please check
your email and click the link to continue.<p>

</div>
{% endblock %}
