{% extends "base.html" %}
{% load url from future %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="center pulldown">

    {% if form.errors %}
    {{form.email.errors}}
    {% endif %}

    <form method="post" action="">
      {% csrf_token %}
      <table>
	<tr>
	  <th>{{form.email.label_tag}}</th>
	  <td>{{form.email}}</td>
	</tr>
      </table>
      <p><a href="{% url 'registration_register' %}">Need an account</a>?</p>
      <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>

</div>
{% endblock %}

