{% extends "base.html" %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="center pulldown">
  <h2>Password reset complete!.</h2>
  <p>Try to log in with your new password.</p>
</div>
{% endblock %}
