{% extends "base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<div class="center pulldown">
  Enter your new password below to reset your password:
  <form method="post" action="">{% csrf_token %}
    <table>
      {{ form.as_table }}
      <tr>
	<td>
	</td>
	<td>
	  <button class="btn btn-primary" type="submit">Set Password</button>
	</td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
