{% extends "base.html" %}

{% block js %}
  //redirects to the home after 2 seconds
  window.setTimeout( function() { location='{% url blog_home %}' }, 2000);
{% endblock %}

{% block title %}Activation email sent{% endblock %}

{% block content %}
<div class="center pulldown">
  <h2>An activation email has been sent.</h2>
  <p>Please check your email and click on the link to activate your account.<p>
</div>
{% endblock %}
