{% extends "base.html" %}

{% block title %}{{block.super}} | Registration{% endblock %}

{% block content %}
<div class="center pulldown">

    <form method="post" action="">
      {% csrf_token %}
      <table>
	{{form.as_table}}
      </table>
      <button class="btn btn-primary" type="submit">Register</button>
    </form>

</div>
{% endblock %}
